<div class="row">
    <div class="col-md-2" style="min-width: 320px">
    </div>
    <div class="col-md-7">
        <app-header></app-header>
    </div>
    <div class="col-md-2" style="min-width: 300px">
    </div>
</div>
<ng4-loading-spinner></ng4-loading-spinner>


<div class="row">
    <div class="col-md-2" align="center" style="min-width: 320px">
        <ng-adsense 
        [adClient]="'ca-pub-2651262364281330'"
        [adSlot]="5867796510"
        [display]="'inline-block'"
        [width]="300"
        [height]="600">
        </ng-adsense></div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2" align="center" style="min-width: 300px">
        <ng-adsense 
        [adClient]="'ca-pub-2651262364281330'"
        [adSlot]="1171671900"
        [display]="'inline-block'"
        [width]="300"
        [height]="600">
        </ng-adsense></div>
</div>
