<div class="">
    <div class="col-xs-12 col-md-8">
<!-- <iframe width="300px" height="300px" src="http://localhost/game01">

</iframe> -->
        <div class="panel panel-primary">
            <div class="panel-heading">지역 뉴스</div>
            <div class="panel-body">
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">자유게시판</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">유머 게시판</div>
            <div class="panel-body">
                <div class="row">
                    <div *ngFor="let humor of humors" class="col-xs-4 .col-md-3">
                        <div *ngFor="let img of humor?.imgs ;let i = index">
                            <a [routerLink]="['/humor',1, humor._id]" *ngIf="i==0" href="#" class="thumbnail">

                                <img style="min-height: 150px;max-height: 150px" src="{{img.src}}" alt="...">
                                <div style="text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        overflow: hidden;" class="in-subject trans-bg-black">
                                    <span class="ellipsis">
                                        {{humor.title}} </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">구인/구직 게시판</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">가볼만한곳</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">지역행사/축제</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
     
    </div>
    <div class="col-xs-6 col-md-4">
        .col-xs-6 .col-md-4
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>

            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div *ngFor = "let src of main ;let first = first; "  [ngClass] = "{ active : first}" class="item">
                <img src="{{src.img}}" alt="...">
                <div class="carousel-caption">
                  {{src.title}}
                </div>
              </div>
   
              
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>