

.row{
    overflow: hidden; 
}

.trans-bg-black {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: #fff !important;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
  }

