<div class="container">
  <div class="col-xs-12 col-md-8">

      <div class="panel panel-primary">
          <div class="panel-heading">지역 뉴스</div>
          <div class="panel-body">
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
          </div>
      </div>
      <div class="panel panel-success">
          <div class="panel-heading">자유게시판</div>
          <div class="panel-body">
            Panel content
          </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">구인/구직 게시판</div>
          <div class="panel-body">
            Panel content
          </div>
      </div>
      <div class="panel panel-warning">
          <div class="panel-heading">가볼만한곳</div>
          <div class="panel-body">
            Panel content
          </div>
      </div>
      <div class="panel panel-danger">
          <div class="panel-heading">지역행사/축제</div>
          <div class="panel-body">
            Panel content
          </div>
      </div>
      
  </div>
  <div class="col-xs-6 col-md-4">
    .col-xs-6 .col-md-4
  </div>
</div>