<div class="">

  <div class="at-content-main">



    <style>
      .amina-header {
        line-height: 22px;
        margin-bottom: 15px;
      }

      .amina-header .header-breadcrumb {
        margin-top: 4px;
      }

      @media all and (max-width:460px) {
        .responsive .amina-header .header-breadcrumb {
          display: none;
        }
      }
    </style>
    <div class="amina-header">
      <span class="header-breadcrumb pull-right text-muted">
        <i class="fa fa-home"></i> 홈 &gt; 몸갤 </span>
      <div class="div-title-underbar font-18">
        <span class="div-title-underbar-bold border-black">
          <b>몸갤</b>
        </span>
      </div>
    </div>

    <section class="board-list">





      <div class="list-wrap">
        <form name="fboardlist" id="fboardlist" action="./board_list_update.php" onsubmit="return fboardlist_submit(this);" method="post"
          role="form" class="form">
          <input type="hidden" name="bo_table" value="community_1">
          <input type="hidden" name="sfl" value="">
          <input type="hidden" name="stx" value="">
          <input type="hidden" name="spt" value="">
          <input type="hidden" name="sca" value="">
          <input type="hidden" name="sst" value="wr_num, wr_reply">
          <input type="hidden" name="sod" value="">
          <input type="hidden" name="page" value="1">
          <input type="hidden" name="sw" value="">
          <div class="list-board">
            <div class="list-head div-head border-black">
              <span class="wr-num hidden-xs">번호</span>
              <span class="wr-subject">제목</span>
              <span class="wr-name hidden-xs">이름</span>
              <span class="wr-date hidden-xs">
                <a href="/bbs/board.php?bo_table=community_1&amp;sop=and&amp;sst=wr_datetime&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">날짜</a>
              </span>
              <span class="wr-hit hidden-xs">
                <a href="/bbs/board.php?bo_table=community_1&amp;sop=and&amp;sst=wr_hit&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">조회</a>
              </span>
            </div>
            <div class="list-webzine">
              <div *ngFor = "let humor of data?.value" class="media list-media">
                <div class="list-item">
                  <div class="img img-left pull-left">
                    <div class="imgframe">
                      <div class="img-wrap" style="padding-bottom:75%;">
                        <div *ngFor = "let src of humor.imgs  | slice " class="img-item">
                          <a [routerLink]="['/body', humor._id]">

                            <img src="{{src.src}}"
                              alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="shadow-line">
                      <!-- <img src="http://yjsosic.com/img/shadow4.png"> -->
                    </div>
                  </div>
                  <div class="">
                    <h2 class="media-heading">
                      <a [routerLink]="['/body', humor._id]" class="ellipsis">
                        {{humor.title}} </a>
                    </h2>
                    <div class="list-details text-muted">
                      <span class="hidden-xs">
                        보건.복지
                        <span class="list-sp">|</span>
                      </span>
                      댓글 0
                      <!--	<span class="list-sp">|</span>
                      조회
                      3-->
                      <span class="hidden-xs">
                        <span class="list-sp">|</span>
                        3일전 </span>
                    </div>
                    <div class="list-cont">
                      <!-- <a href="http://yjsosic.com/bbs/board.php?bo_table=news_1&amp;wr_id=496&amp;sca=%EB%B3%B4%EA%B1%B4.%EB%B3%B5%EC%A7%80" class="ellipsis">
                        <span class="text-muted">
                          여주대학교와 함께 양치질은 즐거워 진행여주시(시장 원경희)가 추진하고 있는 ‘영유아, 아동청소년 구강증진사업’이 여주대학교 치위생학과와 함께 양치질 실천에 앞장서고 있다.치아우식증이 발생하기 쉬운 학동기아동 3개교(세종초,
                          여주초,여흥초) 2546명을 대상으로 올바른 잇솔질 관리로 치면세균막 검사, 불소도포를 함으로써 학동기 아동의 안전하고 건강한 성장을 위한 구강생활의 중요성과 자신의 건강으로부터
                          바른사회생활의 출발점임을 인식 할 수 있도록 개선하는 등 자가 구강관리 생활문화를 심어주는 것이 중요하다. 매년 시에서 시행한 프로그램…
                          <span
                            class="font-11 text-muted">더보기</span>
                        </span> 
                      </a>-->
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              

            </div>
            <!-- <div class="wr-none">게시물이 없습니다.</div> -->
          </div>
          <div class="list-btn">
            <div class="form-group pull-right">
              <div class="btn-group dropup" role="group">
                <ul class="dropdown-menu sort-drop" role="menu" aria-labelledby="sortLabel">
                  <li>
                    <a href="./board.php?bo_table=community_1&amp;sca=">
                      <i class="fa fa-power-off"></i> 초기화
                    </a>
                  </li>
                  <li>
                    <a href="/bbs/board.php?bo_table=community_1&amp;sop=and&amp;sst=wr_datetime&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">
                      <i class="fa fa-clock-o"></i> 날짜순
                    </a>
                  </li>
                  <li>
                    <a href="/bbs/board.php?bo_table=community_1&amp;sop=and&amp;sst=wr_hit&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">
                      <i class="fa fa-eye"></i> 조회순
                    </a>
                  </li>
                </ul>
                <!-- <a id="sortLabel" role="button" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="btn btn-black btn-sm">
                  <i class="fa fa-sort"></i> 정렬 </a>
                <a role="button" routerLink="/write" class="btn btn-color btn-sm">
                  <i class="fa fa-pencil"></i> 글쓰기</a> -->
              </div>
            </div>
            <div class="form-group pull-left">
              <!-- <div class="btn-group" role="group">
                  <a id="sortLabel" role="button" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="btn btn-black btn-sm">
                  <i class="fa fa-sort"></i> 정렬 </a>
                <a role="button" routerLink="/write" class="btn btn-color btn-sm">
                  <i class="fa fa-pencil"></i> 글쓰기</a>
              </div> -->
            </div>
            <div class="clearfix"></div>
          </div>

          <nav class="text-center">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li   *ngFor = "let pageNo of pages;let first = first;" [ngClass] = "{ active : pageNo == page}">
                  <a [routerLink]="['/bodygall', pageNo]" >{{pageNo}}</a>
          
                  
              </li>
              <!-- <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li> -->
              <li>
                <a [routerLink]="['/bodygall', endPageNo+1]" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>



        </form>


      </div>


    </section>

    <!-- } 게시판 목록 끝 -->

    <div class="h20"></div>
    <!-- <script src="http://yjsosic.com/js/sns.js"></script> -->
  </div>
</div>